body {
  font-family: 'Playfair Display', serif;
}
h1, h2 {
  font-family: 'Rubik Mono One', sans-serif;
}
.invisible {
  display: none;
}
div[class^="question"], .results {
  display: none;
}
.navigation {
  font-family: 'Rubik Mono One', sans-serif;
  padding: 0px 0px 4px;
}
.survey-buttons button {
  align-items: center;
  margin-left: 15%;
}
.question-text {
  font-style: italic;
  justify-self: center;
  border: dotted chartreuse;
}
img {
  width: 75%;
}
.copyright {
  font-size: 0.8rem;
  text-align: right;
}
.get-results {
  margin: 15px;
}