body {
  font-family: 'Playfair Display', serif;
}
h1, h2 {
  font-family: 'Rubik Mono One', sans-serif;
}
.invisible {
  display: none;
}
div[class^="question"], .get-results, .results {
  display: none;
}
.navigation {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.2rem;
  padding: 0px 0px 4px;
}
.question-text {
  font-style: italic;
  justify-self: center;
  border: dotted chartreuse;
}